/*
 * Copyright (c) 2024 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#define PERIPHERAL_ZEST_RADIO_LORA868(port) \
	spi_zest_radio_lora868_##port: &sixtron_connector_##port##_spi {};

#define DRIVERS_ZEST_RADIO_LORA868(port) \
	&spi_zest_radio_lora868_##port { \
		status = "okay"; \
		sx1262_zest_radio_lora868_##port: sx1262_##port@0 { \
			compatible = "semtech,sx1262"; \
			reg = <0>; \
			reset-gpios = <&sixtron_connector_##port DIO7 GPIO_ACTIVE_LOW>; \
			dio1-gpios = <&sixtron_connector_##port DIO4 GPIO_OPEN_DRAIN>; \
			busy-gpios = <&sixtron_connector_##port DIO2 GPIO_OPEN_DRAIN>; \
			spi-max-frequency = <DT_FREQ_M(8)>; \
		}; \
	};

#define ALIASES_ZEST_RADIO_LORA868(port) \
	/ { \
		aliases { \
			lora_##port = &sx1262_zest_radio_lora868_##port; \
		}; \
	};

#define ZEST_RADIO_LORA868(port) \
	PERIPHERAL_ZEST_RADIO_LORA868(port) \
	DRIVERS_ZEST_RADIO_LORA868(port) \
	ALIASES_ZEST_RADIO_LORA868(port)
